* {
    box-sizing: border-box;
}

.textce {
    text-align: center;
}

.Header {
    background-color: tomato;
    grid-area: header;
    margin-bottom: 0px;
    height: 30px;
}

.marginto {
    margin-top: 0px;
}

.item2 {
    background-color: teal;
    grid-area: item2;
    margin: 0px 7.5px 7.5px 30px;
    margin-top: 0px;
}

.item3 {
    background-color: violet;
    grid-area: item3;
    margin: 0px 30px 7.5px 7.5px;
}

.item4 {
    background-color: tomato;
    margin: 7.5px 7.5px 0px 30px;
    grid-area: item4;
}

.item5 {
    background-color: tomato;
    grid-area: item5;
    margin: 7.5px 30px 0px 7.5px;
    ;
}

.item6 {
    grid-area: item6;
    width: auto;
    height: 150px;
    background-color: yellowgreen;
}

.right {
    background-color: yellow;
    grid-area: right;
    margin-right: 30px;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header " "item2 item3 right " "item4 item5 right " "item6  item6  right";
    background-color: yellowgreen;
}

.grid-container>div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .right {
        margin: 30px 15px 15px 15px;
        width: 100%;
    }
}