<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="../../scss/style.css")
	body
		.container--center
	h2 Dancing pug
	.dancing-pug
		ul
			li.ear
			li.ear
			li.eye
			li.eye
			li